@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Jacob Horn<br />
    Reed Jackson<br />
    Morgan Munsey<br />
    Garrett Zickgraf<br />
    Ricky Raymond<br />
</address>

<address>
    <strong>Prestige World Wide</strong>   <a href="presworldwide.com">PWW</a><br />
</address>