@{
    ViewBag.Title = "About";
}

<style>
    #rcorners1 {
        border-radius: 25px;
        background: #041E42;
        padding: 20px;
        width: 600px;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
    }

</style>


<br /><br />
      <img src="~/Images/LoginRegisterLogo.png" width="40%" height="40%" class="center-block" />
<div align="center">
    <h2>About BucBoard</h2>
</div>

<p id="rcorners1">

    &nbsp&nbsp&nbsp&nbsp BucBoard is an application for displaying to and communicating with students.
    <br />Professors utilize this tool to "break the ice" and provide useful information for students.
</p>
    


